<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="wrap">
        <ul>
            <li v-for='item in param' :key="item.id" >
                <p @click='fn(item.id)'>{{item.name}}</p>
                <ul v-if='bool == item.id'>
                    <li v-for='item1 in item.data'>
                        <p @click='fns(item1.id)'>{{item1.name}}</p>
                        <ul v-if='bools == item1.id'>
                            <li v-for='item2 in item1.data' @click='fn0(item.name+item1.name+item2.name)'>{{item2.name}}</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <h1>我想买------</h1>
        <ul>
            <li v-for='(item, index) in result' :key='index'>{{item}} <span @click='del(index)'>delete</span></li>
        </ul>
        <!-- {{aaa | capitalize}} -->
        <input type="text" v-model='aaa'>
        <p>{{aaa | capitalize}}</p>
    </div>

    <script src="./vue.min.js"></script>
    <script src="./jquery.min.js"></script>
    <script>
        Vue.filter('capitalize', function (value) {
            if (!value) return ''
            value = value.toString()
            return value.charAt(0).toUpperCase() + value.slice(1)
        })

        var vm = new Vue({
            el: '#wrap',
            data: function () {
                return {
                    param: '',
                    bool: false,
                    bools: false,
                    result: [],
                    aaa: 'test'
                }
            },
            computed: {
                fnn: function () {
                    return aaa;
                }
            },
            beforeCreate: function () {
                console.log('beforeCreate');
                // $.ajax({
                //     url: 'http://localhost:3000/demo',
                //     type: 'GET',
                //     dataType: 'json',
                //     success: function (param) { 
                //         console.log(param);
                //         vm.param = param.data;
                //     }
                // })
            },
            methods: {
                fn (id) {
                    this.bool == id? this.bool = !id: this.bool = id;
                },
                fns (id) {
                    this.bools == id? this.bools = !id: this.bools = id;
                },
                fn0 (result) {
                    if (this.result.indexOf(result) === -1){
                        this.result.push(result);
                        this.bools = '';
                        this.bool = '';
                    } else {
                        alert('已添加过了');
                    }
                },
                del (index) {
                    this.result.pop(index);
                    console.log(this.result);
                }
            }
        });
        
    </script>
</body>
</html>




当前应用版本：4.0.0 at static/js/update/appUpdate.js:22
版本信息{"code":0,"msg":"","data":{"appVersionInfo":{"id":1,"appCode":"001","appName":"用户版","deviceType":0,"version":"4.0.0","changeLog":"APP增加采购商录入，整体页面进行全新设计","forceUpdate":1,"downUrl":"http://apk.sheyuan.com/dazong-user-v4.0.0.apk","createTime":1504168401000,"resourceVersion":"4.0.0.10","resourceUrl":"http://456.sheyuan.com/download/shop.wgt","resourceForceUpdate":0}},"timestamp":1525831559671} at static/js/update/appUpdate.js:38
4.0.0.8---------------取资源版本号比对版本（前面是本地，后面是服务器）4.0.0.10 at static/js/update/appUpdate.js:48
http://456.sheyuan.com/download/shop.wgt-----------提示更新 at static/js/update/appUpdate.js:56